/* ::::: http://fo-pixpro.static.e-merchant.com/styles/style.common.min.css?v=26 ::::: */

#content, #header { position: relative; }
#home #col_main #top_sellers table, .lstItems, .tbl_checkout, div.main_box table, div.rounded table, table { border-spacing: 0px; border-collapse: collapse; }
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var { margin: 0px; padding: 0px; border: 0px none; font-size: 100%; background: transparent none repeat scroll 0px 0px; }
#content, .site-wide-banner { border-style: solid; border-color: silver; }
.main, .sidebar-left, .sidebar-right { display: inline; padding: 0px 0px 30px; }
body { font: 12px Arial,Helvetica,sans-serif; color: rgb(69, 69, 69); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
ol, ul { list-style: outside none none; }
blockquote::after, blockquote::before, q::after, q::before { content: none; }
ins { text-decoration: none; }
#content, #content-in-1, #content-in-2, .sidebar-left, .sidebar-right, .site-wide-banner { overflow: hidden; }
input[type="hidden"] { display: none ! important; }
button, input[type="submit"], label[for] { cursor: pointer; }
button, input, select, textarea { font: 12px Arial,Helvetica,sans-serif; }
.site-wide-banner { border-width: 0px 1px; }
.main { float: left; width: 695px; margin: 0px 15px; }
.sidebar-right { float: right; margin-right: 14px; }
.sidebar-right-180 .main, .sidebar-right-250 .main { margin-left: 14px; margin-right: 0px; }
.sidebar-right-250 .sidebar-right { width: 250px; }
.main .box-in-1 { width: 100%; }
a:active { outline: 0px none; }
#header button, #header input { margin: 0px; outline: 0px none; }
#header a, #header input, #header p, #header span, #header strong { line-height: 1; }
#header p { margin: 0px; padding: 0px; text-align: left; }
#header { z-index: 999; }
#header::after { content: " "; display: block; clear: both; visibility: hidden; height: 0px; font-size: 0px; }
#header .access-links { position: absolute; left: -9999px; }
#header-top { min-height: 102px; padding: 11px 0px; width: 100%; }
#header-top #header-title { float: left; margin: 8px 33px 0px 19px; display: inline; }
#header-top #header-title a, #header-top #header-title img { display: block; }
#header-top .actions { float: right; width: 258px; margin-right: 15px; position: relative; height: 98px; font-size: 11px; display: inline; }
#header-nav { position: relative; float: left; width: 100%; z-index: 660; }
#header-nav .top-nav { float: left; padding: 0px 0px 0px 15px; }
#header-nav .top-nav li { float: left; text-align: center; line-height: 1; }
#header-nav .top-nav li.commercials, #header-nav .top-nav li.products { background: transparent -moz-linear-gradient(center top , rgb(255, 255, 255) 0px, rgb(227, 227, 227) 100%) repeat scroll 0% 0%; }
#header-nav .top-nav li .tab { float: left; padding: 11px 15px 10px; min-height: 14px; height: auto ! important; line-height: 12px; border-color: rgb(198, 198, 198); border-style: solid; border-width: 1px 0px 0px 1px; text-decoration: none; text-align: center; font-size: 11px; color: rgb(48, 48, 48); background: transparent -moz-linear-gradient(center top , rgb(255, 255, 255) 0px, rgb(227, 227, 227) 100%) repeat scroll 0% 0%; }
#header-nav .top-nav li:first-child .tab { border-top-left-radius: 3px; }
#header-nav .top-nav li:last-child .tab { border-right-width: 1px; border-top-right-radius: 3px; }
#header-nav .top-nav li .tab:hover, #header-nav .top-nav li.active .tab, #header-nav .top-nav li.commercials-active, #header-nav .top-nav li.commercials-expanded, #header-nav .top-nav li.commercials-expanded .tab, #header-nav .top-nav li.commercials-hover, #header-nav .top-nav li.commercials-hover .tab, #header-nav .top-nav li.products-active, #header-nav .top-nav li.products-expanded, #header-nav .top-nav li.products-expanded .tab, #header-nav .top-nav li.products-hover, #header-nav .top-nav li.products-hover .tab { border-color: rgb(52, 142, 191) transparent transparent; background: transparent -moz-linear-gradient(center top , rgb(52, 142, 191) 0px, rgb(25, 79, 151) 100%) repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#header-nav .top-nav li.active .tab { font-weight: 700; }
#header-nav .top-nav li .tab-two-lines { padding: 6px 15px 5px; }
#header-nav .top-nav li.commercials span, #header-nav .top-nav li.products span { float: left; line-height: 1; }
#commercials-products, #our-products { overflow: hidden; left: 0px; position: absolute; z-index: 999; top: 36px; border: 2px solid rgb(25, 78, 151); }
#our-products { display: none; width: 948px; padding: 12px 18px 11px 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#our-products p { padding: 0px 0px 10px 8px; }
#our-products p strong { color: rgb(25, 78, 151); font-size: 12px; font-weight: 700; text-transform: uppercase; }
#our-products div { float: left; }
#our-products li { float: left; width: 175px; margin: 0px; padding: 0px 6px; text-align: left ! important; background: transparent url('tab-products-line.png') no-repeat scroll 0px 100%; }
#our-products li.first { background: transparent none repeat scroll 0px 0px; }
#our-products li a { display: block; padding-left: 3px; line-height: 18px; text-decoration: none; font-size: 11px; color: rgb(25, 78, 151); }
#our-products li dt a { margin-bottom: 4px; line-height: 17px; text-transform: uppercase; font-weight: 700; color: rgb(255, 255, 255); background: rgb(25, 78, 151) none repeat scroll 0% 0%; }
#our-products li dt a:focus, #our-products li dt a:hover { background: rgb(21, 125, 192) none repeat scroll 0% 0%; }
#our-products li dd { padding-left: 6px; background: transparent url('arrow-blue.png') no-repeat scroll 0px 6px; }
#our-products li dd a:focus, #our-products li dd a:hover { background-color: rgb(231, 231, 231); }
#our-products li dd.see-all { background: transparent none repeat scroll 0px 0px; }
#our-products li dd.see-all a { margin-bottom: 4px; text-decoration: underline; font-weight: 700; }
#header-nav .second-nav { clear: left; padding: 0px 5px; background: rgb(25, 78, 151) none repeat scroll 0% 0%; overflow: hidden; position: relative; }
#header-nav .second-nav-wrap { overflow: hidden; height: 28px; position: relative; margin: 0px 20px; }
#header-nav .second-nav ul { position: absolute; overflow: hidden; top: 0px; left: 0px; }
#header-nav .second-nav li { float: left; padding: 0px 6px; height: 28px; line-height: 28px; }
#header-nav .second-nav li a { margin-right: 10px; font-weight: 700; text-decoration: none; color: rgb(142, 168, 203); }
#header-nav .second-nav li a:hover, #header-nav .second-nav li.active a { color: rgb(255, 255, 255); }
#header-search { float: left; width: 100%; background: rgb(241, 241, 241) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(204, 204, 204); }
#header-search fieldset { float: left; width: 582px; height: 14px; margin: 12px 0px 0px 15px; padding: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); border-radius: 3px; display: inline; }
#header-search fieldset label { position: absolute; left: -9999px; }
#header-search fieldset input { float: left; margin-right: 5px; padding: 0px 5px 0px 21px; width: 382px; background: transparent url('search-lrg.png') no-repeat scroll 1px 50%; border-style: solid; border-width: 0px 1px 0px 0px; border-color: rgb(210, 210, 210); font-size: 12px; }
#header-search fieldset input:focus { outline: 3px solid rgb(51, 137, 186); padding: 3px 0px 3px 24px; margin: -3px 10px -3px -3px; background-position: 4px 50%; }
#header-search fieldset select { width: 168px; font-size: 12px; font-weight: 700; color: rgb(155, 155, 155); margin-top: -3px; }
#header-search p.button { float: left; margin: 14px 0px 0px 15px; padding-left: 4px; background: transparent url('black-button-left.png') no-repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#header-search p.button button { padding: 0px 8px 3px 4px; margin: 0px; height: 21px; line-height: 21px; background: transparent url('black-button-right.png') no-repeat scroll 100% 0px; border: 0px none; font-size: 11px; font-weight: 700; color: rgb(255, 255, 255); cursor: pointer; }
#header-search .advanced { float: right; width: 264px; min-height: 49px; height: auto ! important; border-left: 1px solid rgb(204, 204, 204); background: transparent -moz-linear-gradient(center top , rgb(255, 255, 255) 0px, rgb(227, 227, 227) 100%) repeat scroll 0% 0%; }
#header-search .advanced a { display: block; padding: 19px 10px 19px 87px; border-left: 1px solid rgb(244, 244, 244); font-size: 11px; font-weight: 700; text-decoration: none; color: rgb(48, 48, 48); background-image: url('advanced-search.png'); background-repeat: no-repeat; background-position: 57px 13px; }
#header-search .advanced a:hover { color: rgb(25, 78, 151); background-position: 57px -62px; }
#footer, #footer #service-links dt { float: left; position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#footer { border-width: 0px 1px; width: 99.8%; border-style: solid; border-color: silver; }
#footer #service-links { overflow: hidden; margin: 0px 0px 0px 2px; padding-top: 4px; }
#footer #service-links dl { float: left; width: 310px; min-height: 80px; padding-bottom: 10px; margin: 0px 0px 13px 13px; border: 1px solid rgb(25, 78, 151); display: inline; }
#footer #service-links dt { margin-top: -8px; margin-left: -1px; margin-bottom: 8px; padding: 0px 3px; font-weight: 700; color: rgb(25, 78, 151); }
#footer #service-links dd { clear: left; margin-left: 15px; line-height: 15px; }
#footer #service-links dd a { padding-left: 11px; color: rgb(112, 112, 112); background: transparent url('arrow-blue.png') no-repeat scroll 0px 50%; text-decoration: none; }
#footer #service-links dd a:hover { color: rgb(25, 78, 151); text-decoration: underline; }
#footer-search { overflow: hidden; clear: left; height: 39px; background: transparent url('v-grey-search-form.png') repeat-x scroll 0% 0%; border-style: solid; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px; }
#footer-search fieldset { float: left; height: 31px; padding: 8px 0px 0px 185px; white-space: nowrap; }
#footer-search fieldset label { position: absolute; left: -9999px; }
#footer-search fieldset input { float: left; width: 325px; margin: 1px 5px 0px 0px; padding-left: 19px; background: rgb(255, 255, 255) url('search.png') no-repeat scroll 4px 3px; border: 1px solid rgb(155, 155, 155); }
#footer-search fieldset select { float: left; height: 20px; margin-top: 1px; font-size: 11px; }
#footer-search fieldset span.button { float: left; margin-left: 5px; padding-left: 4px; background: transparent url('black-button-left.png') no-repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#footer-search fieldset span.button button { padding: 0px 11px 2px 7px; background: transparent url('black-button-right.png') no-repeat scroll 100% 0px; color: rgb(255, 255, 255); }
#footer #partners-links, #footer #secondary-links { padding: 2px 0px 10px 12px; text-align: center; color: rgb(156, 168, 175); }
#footer #partners-links { text-align: left; }
#footer #partners-links p { margin-top: 10px; }
#footer #partners-links * { font-size: 10px; text-decoration: none; color: rgb(47, 100, 172); }
#footer #partners-links a:hover { color: rgb(112, 112, 112); }
#footer #secondary-links { margin-top: 5px; font-size: 11px; color: rgb(112, 112, 112); }
#footer #secondary-links a { text-decoration: none; color: rgb(112, 112, 112); }
#footer #secondary-links .email-addresses a:hover, #footer #secondary-links a:hover { text-decoration: underline; }
#footer #payment-cards { color: rgb(156, 168, 175); padding: 5px 0px; text-align: center; }
#footer #payment-cards * { vertical-align: middle; }
#footer #payment-cards img { border: 1px solid rgb(156, 168, 175); }
#footer #payment-cards img.no-border { border: medium none; }
#footer #countries-access { height: 30px; line-height: 30px; padding-left: 245px; font-size: 11px; color: rgb(255, 255, 255); background-color: rgb(47, 100, 172); border-bottom: 1px solid rgb(255, 255, 255); }
#footer #countries-access span { color: rgb(255, 255, 255); }
#footer #countries-access span.catcher { display: block; float: left; margin-right: 5px; line-height: 30px; }
#footer #countries-access .flags { background: transparent url('flags-inline.png') no-repeat scroll 0% 0%; display: inline-block; width: 434px; height: 15px; text-indent: -9999px; line-height: 30px; vertical-align: middle; overflow: hidden; }
#footer #powered { height: 12px; text-align: center; padding: 20px 0px; background: transparent none repeat scroll 0px 0px; }
big, form, small, table { padding: 0px; margin: 0px; }
#footer #powered img { vertical-align: top; }
img, input, select { vertical-align: middle; }
a, big, caption, div, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, small, span, strong, td, textarea, th, ul { line-height: 1.4em; }
table { overflow: hidden; }
img { border: 0px none; }
b, strong { font-weight: 900; }
h1, h1 a:active, h1 a:hover, h1 a:link, h1 a:visited { font-size: 24px; margin: 0px; line-height: 1em; color: rgb(0, 0, 0); }
h2, h2 a:active, h2 a:hover, h2 a:link, h2 a:visited { font-size: 18px; margin: 0px; line-height: 1.3em; }
h3, h3 a:active, h3 a:hover, h3 a:link, h3 a:visited { font-size: 14px; margin: 0px; line-height: 1.2em; }
#content, #footer, #headernav, div#top.main_box p { clear: both; }
#global-container { width: 990px; margin: 0px auto; position: relative; }
#content { display: block; width: auto; margin: 0px; border-width: 0px 1px; }
#footer { margin: 0px 0px 10px; padding-bottom: 1px; display: block; }
#powered { border-top: 1px solid rgb(255, 255, 255); background: rgb(204, 204, 204) none repeat scroll 0% 0%; height: 12px; text-align: right; padding: 20px 12px; }
.boxGrey h2::first-letter { text-transform: uppercase; color: rgb(255, 255, 255); font-size: 12px; }
.lstItems td.libItem::first-line { font-weight: 700; color: rgb(0, 0, 0); font-size: 12px; }
select { color: rgb(0, 0, 0); }
#superbox-container #superbox.bat-popin ul li::before { content: "-"; }
#global-container { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
input, textarea { border: 1px solid rgb(155, 155, 155); font-family: Arial,Verdana,Helvetica,sans-serif; color: rgb(69, 69, 69); }
input:focus, textarea:focus { border-color: rgb(25, 78, 151); color: rgb(25, 78, 151); background: rgb(255, 255, 239) none repeat scroll 0% 0%; }
button::-moz-focus-inner { padding: 0px; border: 0px none; text-indent: 0px; }
a:active, a:hover, a:link, a:visited { color: rgb(22, 78, 153); font-family: Arial,Helvetica,sans-serif; text-decoration: none; }
.editorial a, a:hover { text-decoration: underline; }
a:hover { color: rgb(25, 78, 151); }
.prd-brand a, .prd-label a, .prd-name a { text-decoration: none; color: rgb(25, 78, 151); font-weight: 400; }
.prd-brand a:hover strong, .prd-label a:hover, .prd-name a:hover strong { text-decoration: underline; }
.prd-image a, .prd-image a:hover { position: relative; text-decoration: none; cursor: pointer; display: block; }
.prd-amount, .prd-amount a, .prd-vat, .prd-vat a { font-weight: 700; color: rgb(234, 34, 39); }
.prd-availability, .prd-availability a, .prd-previous-amount { font-weight: 700; color: rgb(0, 0, 0); }
.more-info a, .prd-more-info a { display: inline-block; padding-left: 7px; font-weight: 700; text-decoration: none; font-size: 11px; background: transparent url('arrow-blue.png') no-repeat scroll 0px 4px; }
.more-info a:hover, .prd-more-info a:hover { text-decoration: underline; }
.prd-name-brand { text-transform: uppercase; }
.more-info-alt a { background-image: url('arrow-red.png'); }
.prd-image .prd-sticker { position: absolute; text-align: center; font-weight: 700; color: rgb(255, 255, 255); }
.prd-image-medium .prd-sticker { top: -10px; left: -8px; width: 67px; height: 39px; padding-top: 16px; font-size: 17px; background: transparent url('sticker-medium.png') no-repeat scroll 0% 0%; }
a.button, span.button { overflow: hidden; display: inline-block; height: 21px; margin: 0px auto; padding-left: 8px; text-decoration: none; color: rgb(255, 255, 255); background: transparent url('grey-1-left.png') no-repeat scroll 0% 0%; }
a.button span, span.button button { display: inline-block; height: 21px; margin: 0px; padding: 0px 8px 2px 0px; line-height: 21px; font-weight: 700; font-size: 11px; color: rgb(25, 78, 151); background: transparent url('grey-1-right.png') no-repeat scroll 100% 0px; border: 0px none; cursor: pointer; }
a.button span { padding-bottom: 0px; }
a.button:hover, span.button:hover { background-position: 0px -21px; }
a.button:hover span, span.button:hover button { background-position: 100% -21px; }
a.button span, form span.button button { text-transform: uppercase; white-space: nowrap; }
.main .box-common .box-content { overflow: hidden; padding: 10px 15px; }
.main .box-common .box-in-1, .main .box-common .box-in-2 { background: transparent url('box-contents-765.png') repeat-y scroll 0% 0%; }
.main .box-common .box-in-2 { background-repeat: no-repeat; background-position: -765px 100%; }
.sidebar-right-250 .main .box-common .box-in-1, .sidebar-right-250 .main .box-common .box-in-2 { background: transparent url('box-contents-695.png') repeat-y scroll 0% 0%; }
.sidebar-right-250 .main .box-common .box-in-2 { background-repeat: no-repeat; background-position: -695px 100%; }
.main .box-zoom { clear: both; }
.box .box-header .in-2, .main .box-strong .box-header { text-transform: uppercase; overflow: hidden; line-height: 31px; color: rgb(255, 255, 255); }
.box .box-header, .box .box-header .in-1, .box .box-header .in-2 { display: block; background: transparent url('box-headers.png') repeat-x scroll 0% 0%; }
.box .box-header .in-1, .box .box-header .in-2 { background-repeat: no-repeat; }
.box .box-header .in-2 { height: 31px; padding: 0px 9px; font-weight: 700; font-size: 14px; }
.sidebar.sidebar-right .box-secondary .box-header .in-2 { background-position: 0px 0px; }
.sidebar-right .box-newsletter.box .box-header .in-2 { height: 35px; padding: 0px 9px; line-height: 35px; text-transform: uppercase; font-weight: 700; font-size: 18px; color: rgb(255, 255, 255); overflow: hidden; background: rgb(0, 147, 173) none repeat scroll 0% 0%; letter-spacing: -0.01em; }
.box-common .box-header { background-position: 0px -403px; }
.box-common .box-header .in-1 { background-position: 0px -372px; }
.box-common .box-header .in-2 { color: rgb(25, 78, 151); background-position: 100% -434px; }
.sidebar .box { margin-bottom: 15px; }
.sidebar .box .box-content .in-1, .sidebar-right-250 .sidebar .box .box-content .in-1 { padding: 10px; background: transparent url('sidebar-box-contents-250.png') no-repeat scroll -250px 100%; }
.sidebar .box .box-content, .sidebar-right-250 .sidebar .box .box-content { background: transparent url('sidebar-box-contents-250.png') repeat-y scroll 0% 0%; }
.sidebar-right-250 .sidebar.sidebar-right .box .box-content .in-1 { padding: 5px; }
.sidebar-right-250 .sidebar.sidebar-right .box .box-content { background: transparent none repeat scroll 0px 0px; }
.sidebar.sidebar-right .box-newsletter .box-content strong { color: rgb(0, 147, 173); }
.sidebar.sidebar-right a.button span, .sidebar.sidebar-right span.button button { display: inline-block; height: 21px; margin: 0px; padding: 0px 8px 2px 0px; line-height: 21px; font-weight: 700; font-size: 11px; color: rgb(0, 147, 173); background: transparent url('grey-1-right.png') no-repeat scroll 100% 0px; border: 0px none; cursor: pointer; }
.sidebar-right-250 .sidebar.sidebar-right .box .box-content .in-1, .sidebar-right-250 .sidebar.sidebar-right .box-newsletter dl dd.box-content .in-1, .sidebar.sidebar-right .box .box-content .in-1 { background: transparent none repeat scroll 0px 0px; }
.sidebar-right-250 .sidebar .box-newsletter dl dd.box-content { background: transparent url('sidebar-box-grey-250.png') repeat-y scroll 0% 0%; }
.sidebar-right-250 .sidebar .box-newsletter dl dd.box-content .in-1 { background: transparent url('sidebar-box-grey-250.png') no-repeat scroll 100% 100%; }
.sidebar-right-250 .sidebar .box-newsletter dl dd.box-content span.button { background: transparent url('grey-2-left.png') no-repeat scroll 0% 0%; }
.sidebar-right-250 .sidebar .box-newsletter dl dd.box-content span.button button { background: transparent url('grey-2-right.png') no-repeat scroll 100% 0px; }
.sidebar-right-250 .sidebar .box-newsletter dl dd.box-content span.button:hover { background-position: 0px 100%; }
.sidebar-right-250 .sidebar .box-newsletter dl dd.box-content span.button:hover button { background-position: 100% 100%; }
.sidebar-right-250 #content-in-1 #content-in-2 #area-2.sidebar.sidebar-right .box.box-secondary.box-newsletter, .sidebar-right-250 .sidebar.sidebar-right .box.box-thirdly.box-our-brands { border: 1px solid rgb(0, 147, 173); }
.box-secondary .box-header { background-position: 0px -124px; }
.box-secondary .box-header .in-1 { background-position: 0px -93px; }
.box-secondary .box-header .in-2 { background-position: 100% -155px; }
.sidebar.sidebar-right .box-secondary .box-header, .sidebar.sidebar-right .box-secondary .box-header .in-2, .sidebar.sidebar-right .box-thirdly .box-header, .sidebar.sidebar-right .box-thirdly .box-header .in-2 { background: rgb(0, 147, 173) none repeat scroll 0% 0%; }
.sidebar .box-thirdly .box-header .in-1 { background-position: 0px -186px; }
.sidebar .box-thirdly .box-header .in-2 { background: rgb(0, 147, 173) none repeat scroll 0% 0%; }
.sidebar .box-thirdly .box-header { background-position: 0px -217px; }
.sidebar .box-our-brands .box-content .in-1 { overflow: hidden; padding: 2px 10px; }
.sidebar .box-our-brands ul li { padding: 5px 0px; text-align: center; }
.sidebar .box-our-brands ul li img { display: block; margin: 5px auto; }
.sidebar .box-our-brands ul li a { font-size: 11px; }
.sidebar .box-our-brands .more-info { overflow: hidden; margin: 10px 0px 5px; text-align: center; }
.sidebar .box-our-brands .more-info a { display: inline-block; font-weight: 700; color: rgb(25, 78, 151); text-decoration: none; }
.sidebar .box-our-brands .more-info a:hover { text-decoration: underline; }
.sidebar .box-our-brands ul { overflow: hidden; position: relative; }
.sidebar-right-250 .sidebar .box-our-brands ul li { float: left; width: 50%; }
.box-ad-250x100, .box-ad-728x90 { margin: 0px 0px 15px; }
div.box-ad-250x250 embed, div.box-ad-250x250 img, div.box-ad-250x250 object { display: block; }
.box-ad-250x100 img, .box-ad-250x155 img, .box-ad-250x182 img, .box-ad-468x60 img, .box-ad-728x90 img { display: block; }
.box-ad-234x60 { padding-top: 27px; }
/* ::::: http://fo-pixpro.static.e-merchant.com/styles/shopping.min.css?v=25 ::::: */

.main .box { margin: 0px 0px 15px; }
.sidebar .box-ad-250x250 { margin-bottom: 15px; }
.main .box { overflow: hidden; margin-bottom: 15px; }
.main .box-carousell { margin: 0px 0px 15px; padding-top: 0px; }
.main .box-carousell h2 { line-height: 38px; text-transform: uppercase; font-size: 18px; text-indent: 20px; color: rgb(255, 255, 255); background: transparent url('carousel-top.png') no-repeat scroll 0% 0%; }
.main .box-carousell .box-content { position: relative; overflow-x: hidden; overflow-y: auto; height: 212px; padding: 0px; }
.main .box-carousell .box-content .prd { overflow: hidden; }
.main .box-carousell .box-content li p { margin-left: 180px; }
.main .box-carousell .box-content li .prd-image { float: left; width: 160px; margin: 10px 0px 0px 10px; text-align: center; }
.main .box-carousell .box-content li .prd-desc { margin-bottom: 10px; font-size: 11px; color: rgb(112, 112, 112); }
.main .box-carousell .box-content li .prd-old-amount del { font-weight: 700; color: rgb(0, 0, 0); }
.main .box-carousell .box-content li .prd-amount, .main .box-carousell .box-content li .prd-availability { color: rgb(247, 42, 42); }
.main .box-carousell .box-content li .prd-amount { font-size: 16px; }
.main .box-carousell .box-content li .prd-amount strong { font-size: 19px; }
.main .box-carousell .box-content li .prd-more-info { margin-top: 10px; }
.box-carousel { position: relative; }
#top-sellers .box-content, .main .box-carousel .box-content { padding: 0px; }
.box-carousel ul { list-style: outside none none; height: 250px; overflow: auto; }
.box-carousel li { float: left; }
.box-carousel a { display: block; }
.main #highlight-new { margin-bottom: 15px; }
.main #highlight-new .box-content { padding: 0px; position: relative; width: 695px; height: 250px; border: 1px solid rgb(204, 204, 204); }
.main #highlight-new .box-content ul { overflow: hidden; }
.main #highlight-new .box-content ul li { float: left; }
.sidebar-right-250 .sidebar .box-rolodex .box-content .in-1 { padding: 1px 1px 10px; }
.sidebar .box-rolodex ul li { border-top: 1px solid rgb(212, 212, 212); }
.sidebar .box-rolodex ul li:first-child { border-top: 0px none; }
.sidebar .box-rolodex ul li a { text-decoration: none; }
.sidebar .box-rolodex ul li p.label { display: table; width: 100%; border-collapse: separate; font-weight: 400; color: rgb(69, 69, 69); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.sidebar .box-rolodex ul li p.label:hover { color: rgb(25, 78, 151); background: rgb(243, 243, 243) none repeat scroll 0% 0%; }
.sidebar .box-rolodex ul li p.label strong { display: table-cell; vertical-align: middle; height: 20px; padding: 0px 32px 0px 6px; font-weight: 400; cursor: pointer; }
.sidebar .box-rolodex ul li .content { overflow: hidden; padding: 0px 10px; font-size: 11px; color: rgb(112, 112, 112); background: rgb(255, 255, 255) url('v-white-grey.png') repeat-x scroll 0px 100%; }
.sidebar .box-rolodex ul li .content-text { padding: 0px 10px 5px; }
.sidebar .box-rolodex ul li .content-text p { margin: 5px 0px; }
.sidebar .box-rolodex ul li .content-text .more-info a { padding-left: 8px; }
.sidebar .box-rolodex ul li .content-text .more-info a:hover { text-decoration: underline; }
.sidebar.sidebar-right .box-rolodex ul li .content { background: transparent none repeat scroll 0px 0px; }
.sidebar .box-newsletter .box-content form { overflow: hidden; }
.sidebar .box-newsletter .box-content strong { color: rgb(25, 78, 151); }
.sidebar .box-newsletter .box-content p { overflow: hidden; }
.sidebar .box-newsletter .box-content input { float: left; width: 140px; margin: 10px 10px 0px 0px; font-size: 11px; color: rgb(94, 107, 114); border: 1px solid rgb(94, 107, 114); }
.sidebar .box-newsletter .box-content label { font-size: 11px; }
.sidebar .box-newsletter .box-content label strong { font-size: 12px; }
.sidebar .box-newsletter .box-content .button { float: left; margin-top: 8px; }
.main .box-prd-group .box-content { overflow: hidden; padding: 20px 0px; }
.main .box-prd-group .prd { float: left; width: 145px; padding: 0px 10px; text-align: center; }
.main .box-prd-group .prd-name { min-height: 43px; margin-bottom: 10px; font-size: 11px; }
.main .box-prd-group .prd-amount strong { font-size: 20px; }
.main .box-prd-group .prd-availability { margin-top: 10px; font-size: 11px; }
.top-sellers { clear: left; }
.top-sellers .box-wrap { float: left; }
.top-sellers .box-header { float: left; width: 146px; background: transparent none repeat scroll 0px 0px; overflow: hidden; }
.top-sellers .box-header .inner { position: relative; text-align: center; }
.top-sellers .box-header h2 { margin: 9px 0px 2px; text-align: left; text-transform: uppercase; font-size: 20px; color: rgb(25, 78, 151); }
.top-sellers .box-header ul { overflow: hidden; }
.top-sellers .box-header ul li { margin-bottom: 10px; }
.top-sellers .box-header ul li a { display: block; width: 129px; height: 45px; line-height: 45px; padding: 0px 3px; font-size: 11px; text-transform: uppercase; text-decoration: none; font-weight: 700; color: rgb(112, 112, 112); background: transparent url('left-nav-btn.png') no-repeat scroll 0px -90px; }
.top-sellers .box-header ul li a:hover { background-position: 0px -45px; }
.top-sellers .box-header ul li.two-lines a { height: 37px; padding-top: 8px; line-height: normal; }
#IE6 .top-sellers .box-header ul li.active a:hover, .top-sellers .box-header ul li.active a { color: rgb(255, 255, 255); background-position: 0px 0px; }
.top-sellers .box-content { float: left; width: 619px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; }
.top-sellers .box-content .nav { background: transparent url('header-footer.png') repeat-x scroll 0% 0%; }
.top-sellers .box-content .nav-wrap { position: relative; overflow: hidden; margin: 0px 19px; }
.top-sellers .box-content .nav-wrap ul li { float: left; }
.top-sellers .box-content .nav-wrap ul li a { float: left; width: 115px; height: 34px; line-height: 34px; font-size: 11px; text-align: center; text-decoration: none; color: rgb(210, 224, 238); padding: 0px 3px; }
.top-sellers .box-content .nav-wrap ul li a:hover, .top-sellers .box-content .nav-wrap ul li.active a, .top-sellers .box-content .nav-wrap ul li.active a:hover { font-weight: 700; color: rgb(255, 255, 255); }
.top-sellers .box-content .nav-wrap ul li a.two-lines { height: 30px; padding-top: 4px; line-height: 13px; }
.top-sellers .table-wrap { padding: 0px 5px; border-style: solid; border-color: silver; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; }
.top-sellers td, .top-sellers td.prd-amount-details { border-top: 1px solid rgb(216, 216, 216); }
.top-sellers .table-wrap table { width: 100%; }
.top-sellers td { padding: 20px 1px 12px; vertical-align: top; }
.top-sellers tr.first td { border: 0px none; }
.top-sellers td.search-rank { color: rgb(69, 69, 69); }
.top-sellers td.prd-image { width: 120px; padding-left: 1px; }
.top-sellers td.prd-image a { position: relative; display: block; margin-left: 10px; }
.top-sellers td.prd-details { padding-right: 15px; }
.top-sellers td.prd-details .prd-description, .top-sellers td.prd-details .prd-label { padding-top: 5px; font-size: 11px; }
.top-sellers td.prd-details .prd-name a:hover { text-decoration: underline; }
.top-sellers td.prd-amount-details { width: 115px; text-align: center; }
.top-sellers td.prd-amount-details p { margin: 0px 0px 3px; }
.top-sellers td.prd-amount-details .prd-amount { font-size: 14px; }
.top-sellers td.prd-amount-details .prd-amount span { font-size: 12px; }
.top-sellers td.prd-amount-details .prd-amount ins { font-size: 16px; }
.top-sellers td.prd-amount-details .prd-availability { margin-top: 18px; font-size: 11px; color: rgb(0, 0, 0); }
.top-sellers .box-footer { clear: left; margin-left: 146px; background: rgb(191, 51, 137) url('header-footer.png') repeat-x scroll 0px -170px; }
.top-sellers .box-footer .inner-1 { background: transparent url('header-footer.png') no-repeat scroll 0px -204px; }
.top-sellers .box-footer p { width: 619px; height: 28px; padding-top: 6px; text-align: center; background: transparent url('header-footer.png') no-repeat scroll 100% -238px; }
/* ::::: http://fo-pixpro.static.e-merchant.com/styles/home-products.min.css?v=26 ::::: */

.main .home-top-container { overflow: hidden; padding-top: 20px; }
#content .sidebar { padding-top: 20px; }
.main .quick-box { float: left; width: 180px; margin: 0px 15px 0px 0px; overflow: hidden; }
.main .quick-box h1 { position: absolute; left: -9999px; }
.main .show-top-sellers, .main .show-top-sellers * { display: block; height: 43px; background: transparent url('go-top-sellers.png') repeat-x scroll 0px -43px; }
.main .show-top-sellers strong { background-repeat: no-repeat; background-position: 0px 0px; }
.main .show-top-sellers strong span { padding-right: 4px; background-repeat: no-repeat; background-position: 100% -86px; line-height: 38px; }
.main .show-top-sellers strong span.two-lines a { display: inline-block; height: 32px; line-height: 15px; vertical-align: middle; width: 100%; }
.main .show-top-sellers strong span a { height: 38px; line-height: 38px; text-align: center; text-decoration: none; color: rgb(25, 78, 151); background: transparent none repeat scroll 0px 0px; text-transform: uppercase; }
.main .box-quick-search { margin: 0px; }
.box-quick-search .box-content { background: transparent url('sidebar-box-contents-180.png') repeat-y scroll 0px 100%; }
.box-quick-search .box-content .in-1 { background: transparent url('sidebar-box-contents-180.png') no-repeat scroll -180px 100%; }
.box-quick-search form { padding: 10px 6px; }
.box-quick-search label { display: inline-block; margin-bottom: 5px; }
.box-quick-search select { width: 145px; margin-bottom: 10px; font-size: 11px; border: 1px solid rgb(155, 155, 155); }
.box-quick-search p.submit { text-align: center; }
.main .box-carousel { overflow: hidden; margin: 0px; }
.main .homeboxes-container { overflow: hidden; margin-bottom: 15px; }
.main .box-home-prd { float: left; width: 340px; margin: 15px 0px 0px; padding-bottom: 6px; background: transparent url('home-prd-box.png') no-repeat scroll -340px 100%; }
.main .box-home-prd-odd { margin-right: 15px; }
.main .box-home-prd h2 { overflow: hidden; height: 31px; font-size: 12px; padding-left: 6px; line-height: 31px; font-weight: 700; white-space: nowrap; text-transform: uppercase; background: transparent url('home-prd-box.png') no-repeat scroll 0% 0%; }
.main .box-home-prd h2 a { text-decoration: none; color: rgb(25, 78, 151); font-size: 12px; line-height: 2.5em; }
.main .box-home-prd h2 a:hover { text-decoration: underline; color: rgb(112, 112, 112); }
.main .box-home-prd h2 span { color: rgb(112, 112, 112); font-weight: 700; }
.main .box-home-prd .box-content { overflow: hidden; position: relative; height: 145px; border-style: solid; border-color: rgb(196, 196, 196); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; }
.main .box-home-prd .box-content ul { float: left; width: 115px; overflow: hidden; }
.main .box-home-prd .box-content li { margin: 8px 0px; padding-left: 19px; font-size: 11px; color: rgb(109, 123, 131); background: transparent url('arrow-blue.png') no-repeat scroll 11px 4px; }
.main .box-home-prd .box-content li a { font-size: 12px; text-decoration: none; }
.main .box-home-prd .box-content li a:hover { text-decoration: underline; }
.main .box-home-prd .box-content .prd { position: relative; float: right; width: 102px; padding: 10px 0px 0px 118px; line-height: 11px; font-size: 11px; }
.main .box-home-prd .box-content .prd-name { padding-right: 5px; }
.main .box-home-prd .box-content .prd-name a { font-weight: 700; }
.main .box-home-prd .box-content .prd-label { margin-bottom: 4px; }
.main .box-home-prd .box-content .prd-image { position: absolute; top: 12px; left: 0px; width: 100px; text-align: center; }
.main .box-home-prd .box-content .prd-sticker { display: none; }
.main .box-home-prd .box-content .prd-amount { line-height: 15px; font-size: 15px; padding-right: 5px; }
.main .box-home-prd .box-content .prd-amount ins span { display: inline-block; }
.main .box-home-prd .box-content .see-links strong { position: absolute; right: 10px; bottom: 2px; width: 149px; }
.main .box-home-prd .box-content .see-more { right: auto; left: 10px; }
.main .box-home-prd .box-content .see-top-sellers a { float: right; }
.main .top-sellers { margin-top: 30px; }
.top-sellers .box-content, .top-sellers .box-footer { width: 549px; }
.top-sellers .box-content .nav-wrap ul li a { width: 102px; }
.top-sellers .box-footer { margin-left: 146px; }
.top-sellers .box-footer p { width: auto; }
.box-pix-search { display: none; }
.box-pix-search p { padding-bottom: 12px; font-size: 11px; color: rgb(112, 112, 112); }
.box-pix-search img { margin: 0px auto; vertical-align: middle; display: block; }
.box-pix-search strong { display: block; margin-bottom: 5px; color: rgb(25, 78, 151); }
.box-pix-search .install-button { padding: 0px; text-align: center; }
.box-pix-search .install-button button::-moz-focus-inner { padding: 0px; border: 0px none; }
.box-pix-search .install-button button { outline: 0px none; background: transparent none repeat scroll 0px 0px; border: 0px none; }
.box-pix-search .install-button button, .box-pix-search .install-button button span { display: inline-block; width: auto; height: 43px; padding: 0px; font-weight: 700; text-align: center; text-transform: uppercase; color: rgb(25, 78, 151); cursor: pointer; }
.box-pix-search .install-button button span { padding-left: 12px; background: transparent url('grey-button-left.png') no-repeat scroll 0% 0%; }
.box-pix-search .install-button button span span { padding: 0px 14px 0px 0px; line-height: 40px; vertical-align: middle; white-space: nowrap; background: transparent url('grey-button-right.png') no-repeat scroll 100% 0px; }
/* ::::: http://fo-pixpro.static.e-merchant.com/styles/season-bg.css?v=43 ::::: */

body.country-pt { background: rgb(207, 73, 62) none repeat scroll 0% 0%; }
body.country-pt #page-container { background: transparent url('pt-1982x1075_mois_anniversaire_photo.jpg') no-repeat scroll 50% 0px; }
